:root {
    --main: #607D8B;
    --dark: #546E7A;
    --alt: #455A64;
    --text-dark: #000000;
    --text-light: #FFFFFF;
}
body {
    font-family: 'Roboto', Verdana, Arial, Helvetica, sans-serif;
    color: var(--text-light);
    background: var(--main);
	-webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-ms-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    overflow-y: scroll;
    position: relative;
    height: 100%;
    font-size: 1.25em;
}
p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: var(--text-light);
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}
.wrapper {
    display: flex;
    align-items: stretch;
}


/* Navbar */
.nav-left-side {
    position: fixed;
    background: var(--alt);
    color: var(--text-light);

    display: flex;
    flex-direction: column;
    width: 80px;
    height: 100%;
}

/* Navbar - collapse */
.nav-side-collapse ul li {
    background: var(--dark);
    height: 50px;
    width: 100%;
    font-size: 1.8em;
	-webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-ms-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    text-align: center;
    cursor: pointer;
}
.nav-side-collapse i {
    font-size: 1.1em;
	-webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-ms-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.nav-left-side.expanded .nav-side-collapse i {
    transform: rotate(180deg);
}

/* Navbar - side items */
.nav-side-items {
    position: relative;
    color: var(--text-light);
    background: var(--alt);
    height: 100%;
}
.nav-side-items li.active {
    background: var(--text-light);
}
.nav-side-items a {
    height: 50px;
}
.nav-link {
    padding: 0;
}
.nav-side-hover {
    background: var(--text-light) !important;
    color: var(--dark) !important;
}

.nav-text {
    position: absolute;
    width: 250px;

	-webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-ms-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    margin-left: -250px;
    text-align: left;
    font-size: 1.8em;
}
.nav-text a {
    padding-left: 90px;
}
.nav-text a.active {
    background-color: var(--text-white);
    color: var(--alt);
}
.nav-left-side.expanded .nav-text {
    margin-left: 0px;
}

.nav-icons {
    position: absolute;
    font-size: 1.8em;
    text-align: center;
}
.nav-icons a {
    width: 80px;
    background: var(--alt);
}
.nav-icons a.active {
    background-color: var(--text-white);
    color: var(--alt);
}

/* Navbar - expanded bg*/
.nav-text-bg {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -250px;
    background: var(--dark);
	-webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-ms-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    width: 250px;
    height: 100%;
}
.nav-left-side.expanded .nav-text-bg {
    margin-left: 0px;
}

/* Navbar - media */
@media (max-width: 768px) {
    .nav-left-side {
        position: fixed;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 0.5rem 1rem;

        width: 100%;
        height: 50px;
    }

    .nav-side-collapse ul li {
        position: relative;
        background: var(--dark);
        height: 50px;
        width: 80px;
        font-size: 1.8em;
    	-webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    	-moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    	-ms-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    	-o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    	transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
        text-align: center;
        cursor: pointer;
    }
    .nav-side-collapse i {
        font-size: 1.1em;
    	-webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    	-moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    	-ms-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    	-o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    	transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    }
    .nav-left-side.expanded .nav-side-collapse i {
        transform: rotate(180deg);
    }

    .nav-side-items {
        position: relative;
        color: var(--text-light);
        background: none;
        margin-left: -330px;
        margin-top: 50px;
    	-webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    	-moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    	-ms-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    	-o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    	transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    }
    .nav-left-side.expanded .nav-side-items {
        margin-left: -80px;
    }

    .nav-text {
        margin-left: 0px;
    }


    .nav-text-bg {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: -250px;
        background: var(--dark);
    	-webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    	-moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    	-ms-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    	-o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    	transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
        width: 250px;
        height: 250px;
    }
    .nav-left-side.expanded .nav-text-bg {
        margin-left: 0px;
    }


    .content-wrapper {
        background: var(--main);
        text-align: center;
        width: 100%;
        margin-left: 0px !important;
    	-webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    	-moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    	-ms-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    	-o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    	transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    }
    .content-wrapper.expanded {
        margin-left: 0px !important;
    }
}


/* Content */
.content-wrapper {
    background: var(--main);
    text-align: center;
    width: 100%;
    margin-left: 80px;
	-webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-ms-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	-o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.content-wrapper.expanded {
    margin-left: 250px;
}
.section {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
}
.section > div {
  display: block;
}
.section:nth-child(even) {
    color: var(--text-dark);
    background: var(--text-light);
}
.section-title {
    font-size: 3em;
    font-weight: 300;
    padding-bottom: 15px;
}
@media (min-width: 992px) {
    #about_text {
        text-align: center;
    }
}

/* Portfolio Grid */
.grid {
  width: 100%;
  height: auto;
  display: grid;
  grid-auto-columns: auto;
}
.portfolio-grid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.portfolio-grid .grid-item-sm {
  grid-column: span 1;
  grid-row: span 1;
}
.portfolio-grid .grid-item {
  grid-column: span 2;
  grid-row: span 2;
}
.portfolio-grid .grid-item-lg {
  grid-column: span 3;
  grid-row: span 3;
}
.portfolio-grid .grid-item-wide {
  grid-column: span 3;
  grid-row: span 2;
}
.portfolio-grid .grid-item-tall {
  grid-column: span 2;
  grid-row: span 3;
}

/* Contact Me */
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  -o-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: var(--main);
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}

/* Bootstrap Override */
.btn-primary {
    background: var(--main);
    border: var(--main);
}
.btn-primary:hover {
    background: var(--alt);
    border: var(--alt);
}

/* MISC */
.no-padding {
    padding: 0;
}
.no-row-margin {
    margin: 0;
}
.list-unstyled {
    margin: 0;
}
span.line {
    display: inline-block;
}
